@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 9999px; }
::selection { background: rgba(163, 230, 53, 0.25); color: #d9f99d; }